@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}
@model DashboardModel

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<h1>Dashboard</h1>

<div class="Dashboard">
    <div class="tile">
        <h2>Wien</h2>
        <p>Temperatur: @Model.Wien &deg;C</p>
    </div>
    <div class="tile">
        <h2>New York</h2>
        <p>Temperatur: @Model.NewYork &deg;C</p>
    </div>
    <div class="tile">
        <h2>Sydney</h2>
        <p>Temperatur: @Model.Sydney &deg;C</p>
    </div>
    <div class="tile">
        <h2>Tokio</h2>
        <p>Temperatur: @Model.Tokio &deg;C</p>
    </div>
</div>

    <!-- Dropdown-Element -->
    <div class="form-group">
        <label for="capitalSelect">Hauptstadt:</label>
        @Html.DropDownList("CapitalName", new SelectList(Model.CityPickOptions), new { @class = "form-control", @id = "capitalSelect" })
    </div>

    <!-- Suchbutton -->
    <button type="button" id="searchButton" class="btn btn-primary">Suchen</button>

<!-- Skript für den Button-Klick -->
    <script>

    document.getElementById("searchButton").addEventListener("click", function () {
        var selectedCity = document.getElementById("capitalSelect").value;

        // Konvertiere das ausgewählte Stadtobjekt in JSON
        var cityJson = JSON.stringify({ city: selectedCity });

        // Führe die AJAX-Anforderung aus, um die Koordinaten abzurufen
        $.ajax({
            url: '@Url.Action("GetCityCoordinates", "Home")' + '?city=' + cityJson,
            type: 'GET',
            data: { city: cityJson },
            success: function (data) {
                // Erfolgreiche Antwort vom Server
                console.log(data);
            },
            error: function (xhr, status, error) {
                // Fehler beim Serveraufruf
                console.error(error);
            }
        });
    });
    </script>