@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}
@model DashboardModel

<h1>Dashboard</h1>

<div class="Dashboard">
    <div class="tile">
        <h2>Wien</h2>
        <p>Temperatur: @Model.Wien &deg;C</p>
    </div>
    <div class="tile">
        <h2>New York</h2>
        <p>Temperatur: @Model.NewYork &deg;C</p>
    </div>
    <div class="tile">
        <h2>Sydney</h2>
        <p>Temperatur: @Model.Sydney &deg;C</p>
    </div>
    <div class="tile">
        <h2>Tokio</h2>
        <p>Temperatur: @Model.Tokio &deg;C</p>
    </div>
</div>

<form asp-controller="Home" asp-action="GetCityCoordinates" method="post">
    <!-- Dropdown-Element -->
    <div class="form-group">
        <label for="capitalSelect">Hauptstadt:</label>
        @Html.DropDownList("CapitalName", new SelectList(Model.CityPickOptions), new { @class = "form-control"})
    </div>

    <!-- Suchbutton -->
    <button type="submit" id="searchButton" class="btn btn-primary">Suchen</button>
</form>